@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header styling starts*/
header {
    width: 100%;
    height: 70px;
    background-color: black;
    
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 5px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    color: red;

}

nav ul {
    width: auto; 
    float: right;
    margin-top: 5px;
 }
 
  nav li {
     display: inline-block;
     padding: 15px 30px;
 }
 
 a {
     text-align: center;
     color: rgb(255, 255, 255);
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.2vw;
     font-family: 'Oswald',Arial, Helvetica, sans-serif;
 }
 
 a:hover {
     color: red;
     transition: 0.5s;
 }

 
span {
    color: white;
}
/* header styling ends */


/* hero image section starts */
.img-outer {
    background-image: linear-gradient(rgba(0, 0, 0,1),rgba(255, 255, 255, 0.25)), url('../css/images/pexels-gustavo-fring-6720433.jpg');
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.img-text {
    text-align: center;
    position: absolute;
    width: 100%;
    color: rgb(0, 0, 0);
    height: auto;
    margin-top: 200px;
}


h3 {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 5em;
    text-align: center;
    font-weight: 500;
    margin-top: -50px;
    font-style: oblique;
    color: red;

}

p {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    color: white;
}

 div a {
    margin-top: 20px;
    font-size: 1.3em;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.button {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: black;
    border: 4px solid black;
    text-align: center;
    outline: none;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2vw;
}
/* hero image section ends */


/* what your kid will learn section starts */
.second-div ul {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    font-style: bold;
    font-size: 1.7rem;
}



.second div, h2 {
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    color: red;
    position: center;
    font-size: 3em;   
}

.learn-box, ul {
    padding: 20px 20px 20px 40px;
    border-radius: 15px;
    width: 400;
    margin: 2%;
    background-color: black;
    position: relative;
    margin-top: -10px;
}

.two-third-column {
    width: 46.66%;
    display: inline-block;
}

.second-image {
    float: right;
    margin-top: 40px ;
    position: relative;
}

.box-gym {
    border-radius: 15px;
    height: 390px;
}


.left-float {
    float: left;
    padding: 50px;
    margin-top: 1px;
}
/* what your kid will learn section ends */

/* get in touch section starts */

h5 {
   font-size: 2.7rem;
   color: red;
}

#contact-us {
    margin-top: 500px;
    text-align: center;
}

.c-box-left {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    width: 400px;
    float: left;
    margin: 200px;
    margin-top: 40px;
}

.c-box-left > p {
    color: black;
}

.c-box-right {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    width: 400px;
    float: right;
    margin: 200px;
    margin-top: 40px;
}

.bold {
    text-align: center;
    color: black;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: red;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.c-box-middle {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: black;
    width: -400px;
    text-align: center;
    margin-bottom: 400px;
}

.touch-box {
    padding: 20px 20px 20px 40px;
    width:100%;
    background-color: black;
    position: relative;
    margin-top: -10px;
}



